h2{
    background-color: aqua;
}
.kawasaki{
    background-color: yellowgreen;
}
.honda{
    background-color: slategray;
}
.duke{
    background-color: tomato;
}
.royal{
    background-color: fuchsia;
}
.name1{
    background-color: steelblue;
}
.name2{
    background-color: cornflowerblue;
}